<a href="https://colab.research.google.com/github/fereshtehdehkhoda/Example-25-quantile75/blob/main/mpg_dar_25_aval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#کدامیک از خودروهای زیر براساس بهره‌وری مصرف سوخت جزء 25 درصد اول است؟

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics as stat

In [ ]:
data=pd.read_csv("mtcars.csv")

In [ ]:
q75=data['mpg'].quantile([0.75])
df=data.loc[data['mpg']>=q75[0.75],:]
df

,vehicle,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2